
proyectoweb/.vs/proyectoweb/DesignTimeBuild/.dtbcache
proyectoweb/.vs/config/applicationhost.config
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csprojAssemblyReference.cache
*.config
*.cache
*.txt
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csproj.FileListAbsolute.txt
*.pdb
*.txt
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide
proyectoweb/.vs/proyectoweb/v15/.suo
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide-shm
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide-wal
proyectoweb/proyectoweb/bin/proyectoweb.dll
proyectoweb/proyectoweb/bin/proyectoweb.pdb
proyectoweb/proyectoweb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csproj.CoreCompileInputs.cache
proyectoweb/proyectoweb/obj/Debug/proyectoweb.dll
proyectoweb/proyectoweb/obj/Debug/proyectoweb.pdb
proyectoweb/proyectoweb/proyectoweb.csproj
*.ide-shm
*.ide
*.ide-shm
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide-shm
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide-wal
