
proyectoweb/.vs/config/applicationhost.config
proyectoweb/.vs/proyectoweb/v15/.suo
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide-shm
proyectoweb/.vs/proyectoweb/v15/Server/sqlite3/storage.ide-wal
proyectoweb/proyectoweb/bin/proyectoweb.dll
proyectoweb/proyectoweb/bin/proyectoweb.pdb
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csproj.CoreCompileInputs.cache
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csproj.FileListAbsolute.txt
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csprojAssemblyReference.cache
proyectoweb/proyectoweb/obj/Debug/proyectoweb.dll
proyectoweb/proyectoweb/obj/Debug/proyectoweb.pdb
