
proyectoweb/.vs/proyectoweb/DesignTimeBuild/.dtbcache
proyectoweb/.vs/config/applicationhost.config
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csprojAssemblyReference.cache
*.config
*.cache
*.txt
proyectoweb/proyectoweb/obj/Debug/proyectoweb.csproj.FileListAbsolute.txt
*.pdb
*.txt
